.search-wrapper {
    padding-top: 2rem;
}

.search-main {
    height: 3.5rem;
    width: 62rem;
    font-size: 1.1rem;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    box-shadow: 0.4rem 0.4rem 1.2rem 0px var(--tertiary);
    transition: 0.1s ease-in-out;
    margin: 0;
    position: absolute;
    top: 10rem;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-field {
    width: 55rem;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.search-field::placeholder {
    color: var(--tertiary);
}

.search-btn {
    outline: none;
    border: none;
    background-color: var(--cta);
    color: var(--bg);
    height: 3.5rem;
    width: 5rem;
    font-size: 1.5rem;
    opacity: 0.9;
}

.search-btn:hover {
    opacity: 1;
}

.search-btn:active {
    padding: 1rem;
}