.navbar-wrapper {
    background-color: var(--primary);

}

.navbar-logo {
    width: 80rem;
    margin: auto;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-logo .navbar-logo-title {
    color: var(--bg);
    font-weight: 800;
    font-size: 1.5rem;
}


.navbar-logo .navbar-highlight {
    color: var(--cta);
    display: inline-block;
}

.navbar-repo {
    color: var(--primary);
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--bg);
    font-weight: 500;
}

.navbar-link {
    color: var(--secondary);
}