.comment-wrapper {
    margin-top: 1rem;
    margin-left: 2rem;
}

p {
    margin: 0;
}

.comment-indent {
    margin-left: 2rem;
}

.comment-author {
    color: var(--cta);
    font-weight: 700;
    font-size: 0.9rem;
}

.comment-text {
    font-weight: 400;
    font-size: 0.95rem;
    padding: 0.2rem 0.5rem 1rem 0;
    color: var(--secondary);
}


a {
    color: var(--cta);
}