@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    background-color: #fffcf2;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}