:root {
    --bg: #fffcf2;
    --tertiary: #ccc5b9;
    --secondary: #403d39;
    --primary: #252422;
    --cta: #eb5e28;
    --card: #fff;
    --accent: #868179;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.text-color-cta {
    color: var(--cta);
    display: inline;
}

.text-color-accent {
    color: var(--accent);
    display: inline;
}

.text-italic {
    font-style: italic;
    display: inline;
}

.text-disabled {
    color: var(--tertiary);
}